body {
	width: 100%
}

img {
	display: block;
	position: relative;
	left: 50%;
	margin-left: -300px;

	margin-top: 40px;
}

h1 {
	font-weight: normal;
	text-align: center;
}

h3 {

	box-sizing: border-box;

	text-align: left;

	width: 130px;
	height: 21px;

	border: 1px solid #99c;

	font-size: 11px;
	line-height: 15px;
	font-weight: normal;
	margin: 0px;
	padding: 3px 4px;
	border-radius: 5px;

	background: #def url('../img/like.png') no-repeat 111px 1px;
}